//内容部分宽度(相对于浏览器宽度的百分比)
$content-with: 75%;
//导航栏的宽度
$nav-with: 65%;
//通用背景色
$bg-color: #65360a;

@mixin background() {
  background: {
    //image: url('../../assets/img/common/nav/decorativePattern.png');
    size: cover;
    repeat: no-repeat;
  }
  background-color: $bg-color;
}
