@import "common";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

.nav-center {
  width: $nav-with;
  margin: auto;
}

.content-center {
  width: $content-with;
  margin: auto;
}

.clear::after {
  display: table;
  content: "";
  clear: both;
}

.fix::before {
  display: table;
  content: "";
}