#index {
  .rotation-chart {
    position: relative;
    > div {
      position: relative;
      height: 652px;
      overflow-x: hidden;
      > div {
        flex-shrink: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        &:first-of-type {
          left: -100%;
        }
        &:last-of-type {
          left: 100%;
        }
        img {
          height: inherit;
          width: 100%;
        }
      }
    }
    button {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      outline: none;
      border: none;
      background-color: transparent;
      &:first-of-type {
      }
      &:last-of-type {
        right: 0;
      }
    }
  }
}